*{text-align: center;}

body{
    display: flex;
    flex-direction: column;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 50px auto;
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr th:last-child, table tbody tr td:last-child,
table tbody tr th:nth-last-child(2), table tr td:nth-last-child(2){
    background: white;
    border: none;
}

button{border: none;background: none; cursor: pointer}