h3.stroke{margin-top: 20vh; text-transform: uppercase; padding-left: 3%}

.box{display: flex; justify-content: space-between; padding: 0 3%;}

.grid-container{width: 50%; padding: 0}

.grid-container .card{display: flex; justify-content: space-between; width: 100%; align-items: center}

.grid-container .card .img{width: 280px; position: relative}

.grid-container .card .img img{height: 200px}

.grid-container .card .content{display: flex; flex-direction: column; justify-content: space-between;}

.grid-container .card .content .sizes{display: flex; justify-content: space-between; align-items: center; padding: 5% 0;}

.card form button{background: none; padding: 8px; position: relative}

.checkOut{width: 35%; position: relative; margin-top: 20px}

.checkOut span.small-text{position: absolute; top: 0; left: 0;}

.checkOut span.mid-text{position: absolute; top: 0; right: 0}

p span{font-weight: bold}

@media only screen and (max-width: 768px) {
    .box{flex-direction: column}
    .grid-container, .checkOut{width: 100%}
    .checkOut{ margin-top: 100px;}
}