/* importa Montserrat da google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variabili di stile */
:root {
    --color-primary: #70F495;
    --color-secondary: black;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{overflow-x: hidden; transition: 0.8s}

/* header */
.header {
    background-color: var(--color-secondary);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    position: fixed;
    z-index: 999;
}

.header .logo { font-style: italic}
.header .logo a{ color: var(--color-primary)}

.header ul.menuBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 50%;
    list-style: none;
    transition: all 1s cubic-bezier(.215, .61, .355, 1)
}

.header ul.menuBar li a {
    color: var(--color-primary);
    font-weight: 300;
}

.header .icons {
    display: flex;
    justify-content: space-between;
}

.header .icons img { width: 25px; }

.header .searchBar {
    display: flex;
    align-items: center;
    border-bottom: 1.7px solid var(--color-primary);
}

.header .searchBar input {
    font-size: 15px;
    padding-right: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-primary);
}

.header .searchBar img { margin-left: 12px; }

/* hero */
#hero {
    position: relative;
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.stroke{-webkit-text-stroke: 12px var(--color-primary); paint-order: stroke;}

/* centra immagine */
#hero img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* poster di default */
.poster{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.poster__img{width: 50%; height: 100%; position: relative;}
.poster__img img{width: 100%; object-fit: cover; height: auto; position: absolute; bottom: 0;}
.poster__content{width: 50%;padding: 50px; padding-left: 3%}

#fanZoneSection .poster__content{width: 55%;}
#fanZoneSection .poster__img {width: 45%;}
#fanZoneSection .poster__img img{height: 85vh;}
#fanZoneSection h3 {padding-bottom: 7%;}
#fanZoneSection p{padding: 5% 0;}
#fanZoneSection.poster .poster__content button {
    margin-top: 4%;
    padding: 2% 5%;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    font-size: 15px;
}

@media (max-width: 768px) {
    #fanZoneSection.poster, #loginSection.poster{flex-wrap: wrap;}
    #fanZoneSection .poster__img, #fanZoneSection .poster__content,
    #loginSection .poster__img, #loginSection .poster__content {width: 100%;}
    #fanZoneSection .poster__img img{height: 100%;}
}


/* helpers */
.z1{z-index: 1;}
.z2{z-index: 2;}
.mt-50{margin-top: 50px;}
.mr-20 {margin-right: 20px;}
.mid-text {font-size: 48px;font-weight: 600;}
.big-text {font-size: 100px;font-weight: 900;}
.normal-text {font-size: 32px;font-weight: 500;}
.small-text {font-size: 16px;font-weight: 300;}
.upp {text-transform: uppercase;}
.white {color: white;}

/* hamburger menu */
.hamburger{display: none;}

@media (max-width: 768px) { /* su schermi tra 0 e 768px */

    .menuBar{
        position: absolute;
        top: 15vh;
        right: -100%;
        background: black;
        height: 60vh;
        flex-direction: column;
        width: 100%;
    }

    .menuBar li{display: block;}
    .menuBar li a{padding: 15px 30px; font-size: 20px;}

    .menu--open{right:0; }

    .hamburger{
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }

    .hamburger.active span:first-child {
        position: absolute;
        transform: rotate(45deg);
        top: 50%;
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:last-child {
        position: absolute;
        transform: rotate(-45deg);
        top: 50%;
    }

    .hamburger span{
        height: 3px;
        width: 100%;
        display: block;
        background: var(--color-primary);
        margin-bottom: 5px;
    }
}


/* login form */
.poster#loginSection {
    background: rgb(255,255,255);
    background: linear-gradient(141deg, rgba(255,255,255,1) 59%, rgba(0,0,0,1) 100%);
    overflow-y: hidden;
}

#loginSection.poster .poster__img img{width: 80%; position: absolute; right: 0; bottom: 0;}
#loginSection.poster .poster__content .logo{height: 15vh;
    font-style: italic;display: flex; align-items: center}
#loginSection.poster .poster__content .logo a{color: var(--color-primary)}

#loginSection.poster .poster__content form{height: 85vh; display: flex;
    flex-direction: column; justify-content: center;}

#loginSection.poster .poster__content form .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#loginSection.poster .poster__content form .input input,
#loginSection.poster .poster__content form input{
    margin: 25px 0;
    padding: 12px 14px;
    font-size: 17px;
    width: 75%;
}

#loginSection.poster .poster__content form input[type = submit] {
    width: 100%;
    background: var(--color-primary);
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

#loginSection.poster .poster__content form h4{padding: 20px 0;}

#loginSection.poster .poster__content form h4 a{color: var(--color-primary);
    text-decoration: underline; font-weight: 700;}
#loginSection.poster .poster__content form p{background: #fd9e9e;
    padding: 10px 15px;
    text-align: center;
    border-radius: 2px;
    width: 50%;
    margin: 10px auto;
    font-weight: 600;
    color: #d02e2e;
}

#loginSection.poster .poster__content form .input img#eyePassword,
#loginSection.poster .poster__content form .input img#eyeConfirmPassword{
    position: absolute;
    right: 2%;
    width: 30px;
}

@media (max-width: 1200px) {
    #loginSection.poster .poster__img{position: relative;}
    #loginSection.poster .poster__img img{position: absolute; bottom: 0;}
}

@media (max-width: 768px) {
    #loginSection.poster{flex-wrap: wrap;}
    #loginSection.poster .poster__content {width: 100%; padding-top: 0;}
    #loginSection.poster .poster__img{width: 0;}
    #fanZoneSection .poster__img img{height: 100%;}
}

/* gridItemByFilter */

.filters{padding-top: 15vh}

.grid-container {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    width: 280px;
    margin: 20px 10px;
    position: relative;
}

.card img {
    height: 150px;
    object-fit: contain;
    transition: 0.8s;
}

.card:hover img {
    transform: scale(1.1);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

.card h4, .card h2 {
    text-align: left;
    margin-top: 7px;
}

.card form button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    border-radius: 7px;
    padding: 8px 20px;
    background-color: var(--color-primary);
}

.card form button img{height: 20px}

@media (max-width: 500px) {
    .card{
        width: 100%;
        margin-bottom: 20px;
    }
}

/* overviewSection */
#overviewSection.poster{overflow: hidden;}
#overviewSection.poster .poster__content{position: relative; margin-right: 3%; height: 70vh;padding-left: 0;}
#overviewSection.poster .poster__content h2{position: absolute; bottom: 0;}
#overviewSection.poster .poster__content button{width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 17px 14px;
    background: var(--color-primary);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}

#overviewSection.poster .poster__img img.zoom-image {
    width: 100%;
    transition: transform 0.3s ease;
}

#overviewSection.poster .poster__img:hover img.zoom-image {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    #overviewSection.poster{flex-wrap: wrap;}
    #overviewSection.poster .poster__content {width: 100%;padding: 0 3%;
        height: 40%;}
    #overviewSection.poster .poster__img{width: 100%;}
}

/* fanZone */
#fanZone.grid-container .card{
    width: 300px;
    height: 270px;
    box-shadow: 1px 7px 36px -8px #000;
}

#fanZone.grid-container .card img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
}

#fanZone.grid-container .card h2{
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 30px;
    background: var(--color-primary);
    font-weight: 700;
}

#fanZone.grid-container .card span{
    position: absolute;
    height: 90%;
    width: 90%;
    border: 2px solid var(--color-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}