/* stile per popup */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 10000;
    border-radius: 10px;
}
#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1001;
}

#popup > form {
    margin: 10px 0;
}

.popup-button {
    padding: 10px 20px;
    background-color: #70F495;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
}

h3{text-transform: uppercase; padding-left: 3%; margin: 20px 0}
h3.stroke{margin: 0; margin-top: 20vh;}
h3.normal-text{font-style: italic}
h3.small-text{text-transform: none;}

.user-info{
    width: 100%;
    padding: 20px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info div p span{color: #8C8C8C}

.user-info .buttons{display: flex;align-items: center;}

.user-info .buttons form button {
    border: none;
    background: var(--color-primary);
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: bold;
}

.user-info .buttons form button img{
    height: 15px;
}

.grid-container p span{font-weight: bold}

.grid-container .sizes{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}